<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esta Colaboracion requiere registrarse como Persona Juridica</title>
    <link rel="stylesheet" href="/assets/CSS/Sesion.css">
</head>

<body>

<div class="container">
    <h2>No podés acceder a esta Colaboración</h2>

    <form id="formRegistroJuridico" method="post">

        <p>Para poder contribuir, necesitás registrarte como persona juridica.</p>
        <a th:href="@{/RegistroPersona}"><button type="button">Registrarse</button></a>
    </form>

</div>

</body>

</html>