<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegir Tipo de Usuario</title>
    <link rel="stylesheet" href="/assets/CSS/Sesion.css">
</head>

<body>

<div class="container">
    <h2>Elegir cómo Colaborar</h2>

    <form id="formElegirColaborador" action="/DefinirColaborador" method="post">

        <button type="submit" name="tipoDeColaborador" class="botonSeparado" th:value="colaboradorHumano">Como Persona</button>
        <br>
        <button type="submit" name="tipoDeColaborador" class="botonSeparado" th:value="colaboradorJuridico">Como Organizacion</button>

    </form>

</div>

</body>

</html>