<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedir tarjeta para acceder a una heladera</title>
    <link rel="stylesheet" href="/assets/CSS/Sesion.css">
</head>

<body>
    
    <div class="container">
        <h2>Colaborar con acceso a heladera</h2>
        
        <form id="formPedirTarjeta" action="/PedirAccesoColaborador" method="post">

            <p>Para poder colaborar con acceso a las heladeras, necesitamos que tengas una tarjeta con la cual te podamos identificar.</p>

            <button type="submit" name="respuestaFormAcceso" th:value="pedirTarjeta">¡Pedir Tarjeta!</button>
            <button type="submit" name="respuestaFormAcceso" style="background-color: #ff000085; margin-top: 15px;" th:value="cancelarPedido">Volver a Home</button>
            
        </form>
        
    </div>

</body>

</html>